html{
  background-color: black;
}

.desc{
  color: rgba(127, 255, 212, 0.767);
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  border-width: 2rem;
}

.index{
  /* background-color: cadetblue; */
  text-align: center;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  margin: 2rem 0;
  padding-bottom: 12%;
}

.index h{
  font-size: larger;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  padding: 2rem 2rem 0.4rem 2rem;
  background-color: rgb(66, 65, 65);
  border-radius: 4px;
}

.index ul{
  list-style: none;
  margin-top: 2rem;
}

.index p{
  color: rgb(175, 88, 88);
  font-size: 20px;
  font-family: 'tahoma', sans-serif;
  font-style: italic;
  /* background-color: rgb(44, 28, 28); */
  padding: 0.2rem 20rem;
}

a{
  text-decoration: none;
  color: rgb(202, 70, 37);
  background-color: rgb(26, 24, 24);
  padding: 0.5rem;
}

li{
  padding: 1rem; 
}